*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: sans-serif;
}
html {
  font-size: 100%; // 1rem = 16px
}
body {
  box-sizing: border-box;
  background-color: whitesmoke !important;
}

// table {
//   width: 100px;
//   margin-left: auto;
//   margin-right: auto;
// }

// table,
// th,
// td {
//   border: 1px solid black;
// }

// h2,
// p {
//   text-align: center;
//   margin-bottom: 0.5rem;
// }

.main {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.left,
.right {
  float: left;
}
.left {
  width: 170px;
}
.right {
  width: 400px;
  padding: 50px;
}
p {
  font-size: 20px;
}
